.container {
  width: 90%;
  border: 1px solid;
  height: 400px;
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
}

.slider_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next_btn {
  left: 100%;
  transform: translateX(-100%);
}
