.container {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.folder {
  cursor: pointer;
  background-color: #c6c2c2;
  max-width: 400px;
}

.file {
  display: block;
  width: fit-content;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
}

.expand {
  display: block;
}

.collapse {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
