.otpForm {
  text-align: center;
}

.container {
  display: flex;
  gap: 0.25rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.otpInput {
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.25rem;
  font-size: 1.5rem;
}
