* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popover-wrapper {
  position: relative;
  width: fit-content;
}

.popover-content {
  padding: 0.5rem;
  border: 1px solid;
  width: 25rem;

  position: absolute;
  top: calc(100% + 1rem);
  left: calc(50% - 12.5rem);
}

.hide {
  display: none;
}
